<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097254282227-5grqgq7ofhpi8hd7ummuq5pj30undclc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097254282227-5grqgq7ofhpi8hd7ummuq5pj30undclc</string>
	<key>API_KEY</key>
	<string>AIzaSyCj9ucgGPcn1i9xFv0BX39AO9LVf4xgAic</string>
	<key>GCM_SENDER_ID</key>
	<string>1097254282227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulla.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>tema-7-abb1b</string>
	<key>STORAGE_BUCKET</key>
	<string>tema-7-abb1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097254282227:ios:55cb1e3a32e77fa71d2886</string>
</dict>
</plist>